.checkout-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.title {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem; 
    color: #333; 
    font-family: 'Playfair Display', serif;
    text-transform: uppercase; 
    letter-spacing: 2px; 
  }
.checkout-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checkout-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    padding-top: 10px;
}

.checkout-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.item-details {
    flex-grow: 1;
}

.remove-btn {
    background-color: rgb(234, 54, 54);
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-btn:hover {
    background-color: rgb(140, 7, 12);
}

.checkout-summary {
    text-align: center;
    margin-top: 20px;
}

.checkout-btn {
    background-color: rgb(5, 6, 71);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.checkout-btn:hover {
    background-color: #11013e;
}

.color-container {
    display: flex;
    align-items: center;
    gap: 16px; 
}

.color-box {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
}
.quantity-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .quantity-btn {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
  }
  
  .quantity-btn:hover {
    background-color: #bbb;
  }
  
  .quantity-value {
    font-size: 18px;
    font-weight: bold;
  }
  