.product {
    width: 144px;
    height: 176px;
    margin-bottom: 8px;
  }
  
  .cart {
    width: 64px;
    height: 64px;
    object-fit: cover;
  }
  
  .service {
    width: 96px;
    height: 80px;
  }
  